@import "../styles.scss";

nav {
  height: 50px;
  border-bottom: 1px solid $black;

  .home {
    display: inline-block;
    width: 50px;
    float: left;
    padding-left: 22px;
    line-height: 50px;
    border-right: 1px solid $black;
  }

  .main {
    margin-left: 20px;

    li {
      float: left;
      height: 50px;

      a {
        line-height: 50px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  .login {
    float: right;

    li {
      height: 50px;
      margin-right: 20px;

      a {
        line-height: 50px;
      }
    }
  }
}
