<a class="main-contact" href="mailto:info@dulcisona.be">info@dulcisona.be</a>

<div class="contact">
  <p><span>Luc Peelman</span> - <span>secretaris</span></p>
  <p>Provenierstersstraat 43, 9000 Gent</p>
  <p>tel: +32 9 2331933</p>
  <a href="mailto:secretaris@dulcisona.be">secretaris@dulcisona.be </a>
</div>

<div class="contact">
  <p><span>Luc Peelman</span> - <span>secretaris</span></p>
  <p>Provenierstersstraat 43, 9000 Gent</p>
  <p>tel: +32 9 2331933</p>
  <a href="mailto:secretaris@dulcisona.be">secretaris@dulcisona.be </a>
</div>

<div class="contact">
  <p><span>Luc Peelman</span> - <span>secretaris</span></p>
  <p>Provenierstersstraat 43, 9000 Gent</p>
  <p>tel: +32 9 2331933</p>
  <a href="mailto:secretaris@dulcisona.be">secretaris@dulcisona.be </a>
</div>