<button class="btn" (click)="uiOnDownloadSponsorBrochureClicked()">Download PDF Placeholder</button>

<ul class="offer-list">
  <li>
    <div class="title">
      <p>In Exitu Israël</p>
      <p>met koor, orkest en solisten</p>
    </div>
    <div class="date">
      doorlopend vanaf 01/1/2005
    </div>
    <div class="description">
      <p>Een jubelend en virtuoos programma samengesteld uit a capella uitvoeringen van het "Magnificat" doorheen verschillende stijlperiodes en het motet "In exitu Israël" van Jean-Joseph Cassanéa de Mondonville voor koor, orkest en solisten.</p>
    </div>
    <div class="contact">
      <p>your name here</p>
      <a href="mailto:pr@dulcisona.be">pr@dulcisona.be</a>
    </div>
  </li>
  <li>
    <div class="title">
      <p>In Exitu Israël</p>
      <p>met koor, orkest en solisten</p>
    </div>
    <div class="date">
      doorlopend vanaf 01/1/2005
    </div>
    <div class="description">
      <p>Een jubelend en virtuoos programma samengesteld uit a capella uitvoeringen van het "Magnificat" doorheen verschillende stijlperiodes en het motet "In exitu Israël" van Jean-Joseph Cassanéa de Mondonville voor koor, orkest en solisten.</p>
    </div>
    <div class="contact">
      <p>your name here</p>
      <a href="mailto:pr@dulcisona.be">pr@dulcisona.be</a>
    </div>
  </li>
  <li>
    <div class="title">
      <p>In Exitu Israël</p>
      <p>met koor, orkest en solisten</p>
    </div>
    <div class="date">
      doorlopend vanaf 01/1/2005
    </div>
    <div class="description">
      <p>Een jubelend en virtuoos programma samengesteld uit a capella uitvoeringen van het "Magnificat" doorheen verschillende stijlperiodes en het motet "In exitu Israël" van Jean-Joseph Cassanéa de Mondonville voor koor, orkest en solisten.</p>
    </div>
    <div class="contact">
      <p>your name here</p>
      <a href="mailto:pr@dulcisona.be">pr@dulcisona.be</a>
    </div>
  </li>
</ul>